<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wen.oawxapi.mapper.TbUserMapper">
    <select id="getUserInfo" parameterType="hashmap" resultType="hashmap">
        SELECT
        u.nickname as name,
        d.dept_name as deptName,
        u.photo
        FROM tb_user u
        LEFT JOIN tb_dept d ON u.dept_id = d.id
        <where>
            u.id = #{userId}
        </where>
    </select>
</mapper>